<!doctype html>
<html lang="en">
	<head>
        <style>
             #divContainer {background:#94618e; position: absolute;top: 100px; left: 750px;
                  width: 540px;  border: 2px solid #666; float: left;}
                .theDiv {background: #94618E; width: 250px; padding: 20px; float: left;}
            
            .SelectDevice {position: relative; background: white; width: 550px;  top: 0px, border: 2px solid #666; float: left;}
            .recommend{position: absolute; top: 650px; left: 750px;}
            .alignleft{position: absolute; top: 150px; left: 0px;}
            .alignleft1{position: absolute; height: 400px; top: 250px; left: -750px;}
            .imgleft{position: absolute; height: 400px; top: 350px; left: 0px;;}
            img{ 
                display: block;
                margin-left: -50px;
                margin-top: 0px;
                left: 0px;
            }
           
            
        </style>
		<meta charset="utf-8">
		<title>Review Aggregator and Product Recommender!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		
        <div id="photolayer" style="z-index: 1; left: 0px; top: 0px; width: 2000px; 
                                    height: 1000px; background-color:white; layer-background-color:white; visibility: visible"> 
  			<h2>Review Aggregator!</h2>
            
            
            <form id='Gadget_Data_Collector' method='post' action='/index' >
                
                 <div id = "SelectDevice">
                    <label for="Device"><h3>Select the Device</h3></label>
                <select name="Device">
                    <option value="n6p">Google Nexus 6P</option>
                    <option value="iphone_7"><b>Iphone-7</b></option>
                    <option value="iphone_8">Iphone-8</option>
                    <option value="pixel">Google Pixel</option>
                    <option value="pixel_xl">Google Pixel XL</option>
                    <option value="n5x">Google Nexus 5X</option>
                    <option value="mgp">Moto-G-Play</option>
                    <option value="mg3">Moto-G3</option>
                    <option value="lgv2">LG-Volt2</option>
                    <option value="sx">Sony Xperia</option>
                </select>
                </div>
                <div>
                <img width="600" height="480"  src="/static/n6p-tc-v.png">
                </div>
                <iframe style ="position: relative; margin-top: -100px; margin-left: 0px" width="540" height="480" frameborder="0" scrolling="no" src="//plot.ly/~tnkarthik/4.embed"></iframe>

                    
                <div id = "divContainer">
                
                            <h3><font color = "#E9B000"><b><i>How important are these for you in a gadget!</i></b></font></h3>

                            <div class = "theDiv">
                            <label for = "battery life"><h4> <font color = "white"> Long Battery Life </font></h4> </label>
                            <input name ="battery life" type="range"  min="0" max="10"
                                   value = "bat_life" style="width: 250px; height: 10px;"/> <br>

                        </div>


                         <div class = "theDiv">
                            <label for = "battery life"><h4> <font color = "white"> Big screen size </font></h4> </label>
                            <input name ="battery life" type="range"  min="0" max="10"
                                   value = "bat_life" style="width: 250px; height: 10px;"/> <br>

                         </div>

                        <div class = "theDiv">
                            <label for = "battery life"><h4> <font color = "white"> Processor Speed </font></h4> </label>
                            <input name ="battery life" type="range"  min="0" max="10"
                                   value = "bat_life" style="width: 250px; height: 10px;"/> <br>

                        </div>

                        <div class = "theDiv">
                            <label for = "battery life"><h4> <font color = "white"> Memory </font></h4> </label>
                            <input name ="battery life" type="range"  min="0" max="10"
                                   value = "bat_life" style="width: 250px; height: 10px;"/> <br>

                        </div>

                        <div class = "theDiv">
                            <label for = "battery life"><h4> <font color = "white"> Fast charging time </font></h4> </label>
                            <input name ="battery life" type="range"  min="0" max="10"
                                   value = "bat_life" style="width: 250px; height: 10px;"/> <br>

                        </div>
                        <div class = "theDiv">
                            <label for = "battery life"><h4> <font color = "white"> Price </font></h4> </label>
                            <input name ="battery life" type="range"  min="0" max="10"
                                   value = "bat_life" style="width: 250px; height: 10px;"/> <br>

                        </div>
                        <div class = "theDiv">
                            <label for = "battery life"><h4> <font color = "white"> Weight</font></h4> </label>
                            <input name ="battery life" type="range"  min="0" max="10"
                                   value = "bat_life" style="width: 250px; height: 10px;"/> <br>

                        </div>

                        <div class = "theDiv">
                            <label for = "battery life"><h4> <font color = "white"> Bloatware </font></h4> </label>
                            <input name ="battery life" type="range"  min="0" max="10"
                                   value = "bat_life" style="width: 250px; height: 10px;"/> <br>

                        </div>


                        </div>

            
            <div class = "recommend">
            <input type="submit" value="Recommend me a product!"> 
            </div>
            <div class = "alignleft">
            <input type="submit" value="Aggregate Reviews!"> 
            </div>
            
            
            </form>


		</div>
	</body>
</html>

                      